{% extends "../base.html" %}
{% block content %}
    <!--Formulario para login-->
    <div class="container">
        <div class="m-auto text-center py-5">
            <h2>Inicia Sesión</h2>
            <form action="{% url "login" %}" method='POST'>
                {% csrf_token %}
                {{form.non_field_errors}} <!--valida los campos nulos-->
                <label for="">{{form.username.label_tag}}</label>
                <div>{{form.username}}</div>
                <label for="">{{form.password.label_tag}}</label>
                <div>{{form.password}}</div>
                <input type="submit" value="login">
            </form>
            <!--<a href="{% url "password_reset" %}">Perdiste tu contraseña?</a>-->
        </div>
    </div>
{% endblock content %}