{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
  <h2 class="my-3 text-center text-md-start">Un poco de historia...</h2>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca2.jpg" %}" alt=""></figure>
    <div class='col-12 col-lg-6'>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum velit
        quisquam eaque magnam rerum illo accusamus deleniti perferendis earum et
        vel modi, tenetur dolorem sint nemo! Labore odio magnam, obcaecati ad ut
        corrupti aliquid voluptates culpa vel, odit nobis, vero delectus ex quos
        hic assumenda repellat molestias atque ullam. Ipsa, aliquam autem
        provident unde error, eius excepturi repudiandae ipsam libero modi odio
        alias nisi quaerat tempore doloribus? Soluta necessitatibus voluptatum
        quidem, tenetur est expedita sint provident repellendus deleniti
        repudiandae accusamus beatae incidunt velit, alias quod corporis eos.
        Obcaecati aliquid ea id. Autem totam, aliquid mollitia sapiente magnam
        similique voluptatum quis nihil ex repellendus debitis vitae veniam
        explicabo corrupti porro, ipsum commodi fugit eos ad dolores!.
      </p>
    </div>
  </div>
  </div>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <div class='col-12 col-lg-6'>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum velit
        quisquam eaque magnam rerum illo accusamus deleniti perferendis earum et
        vel modi, tenetur dolorem sint nemo! Labore odio magnam, obcaecati ad ut
        corrupti aliquid voluptates culpa vel, odit nobis, vero delectus ex quos
        hic assumenda repellat molestias atque ullam. Ipsa, aliquam autem
        provident unde error, eius excepturi repudiandae ipsam libero modi odio
        alias nisi quaerat tempore doloribus? Soluta necessitatibus voluptatum
        quidem, tenetur est expedita sint provident repellendus deleniti
        repudiandae accusamus beatae incidunt velit, alias quod corporis eos.
        Obcaecati aliquid ea id. Autem totam, aliquid mollitia sapiente magnam
        similique voluptatum quis nihil ex repellendus debitis vitae veniam
        explicabo corrupti porro, ipsum commodi fugit eos ad dolores!.
      </p>
    </div>
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca.jpg" %}" alt=""></figure>
  </div>
  </div>
</div>

{% endblock %}
