{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
  <h2 class="my-3 text-center text-md-start">Un poco de historia...</h2>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca2.jpg" %}" alt="" width="250px"></figure>
    <div class='col-12 col-lg-6'>
      <p>OnlyFlans nace en el año 1998 luego de que la familia Nakamoto decidiera abrir su primer local en Japón con la receta original de la abuela.</p>
      <p>Al poco tiempo después se popularizó la receta en toda Asia teniendo muy buena aceptación y debido a esto la receta original tomó diferentes formas y estilos</p>
    </div>
  </div>
  </div>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <div class='col-12 col-lg-6'>
      <p>Con el auge tecnológico de internet decidieron expandir su franquicia al mundo entero llevando OnlyFlans a todas las personas en diferentes partes del mundo donde se ha posicionado como la mejor alternativa oriental de venta de flanes.</p>
      <p>Hoy en día estamos agradecidos por la buena acogida que hemos tenido de parte de los millones de clientes en todo el mundo, es por eso que el compromiso de seguir trayéndoles lo mejor de nosotros se encuentra vigente.</p>
    </div>
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca.jpg" %}" alt="" width="250px"></figure>
  </div>
  </div>
</div>

{% endblock %}
