{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
  <h2 class="my-3 text-center text-md-start">Un poco de historia...</h2>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca2.jpg" %}" alt=""></figure>
    <div class='col-12 col-lg-6'>
      {% lorem %}
    </div>
  </div>
  </div>
  <div class="d-grid align-items-top justify-content-around my-5 px-5">
    <div class="row">
    <div class='col-12 col-lg-6'>
      {% lorem %}
    </div>
    <figure class='col-12 col-lg-6 text-center'><img src="{% static "img/img_acerca.jpg" %}" alt=""></figure>
  </div>
  </div>
</div>

{% endblock %}
