{% extends "base.html" %}
{% block content %}
<div
    class="container"
>
<h2>Bienvenidos</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro deserunt non voluptatem voluptatibus beatae. Sapiente aperiam fugiat, asperiores fugit ducimus dolore minima, corporis praesentium vero veniam magnam quos vitae esse corrupti ad porro exercitationem necessitatibus. Sed modi, aliquam, esse porro maiores magnam voluptatibus facere, nisi dolorem nihil omnis quas blanditiis ea sapiente molestiae ipsa error? Aliquam possimus commodi recusandae laborum, vel cum alias odio ullam. Consequuntur beatae blanditiis numquam maiores, aut ullam ipsa, optio deleniti perspiciatis veniam soluta sunt eligendi consequatur at a veritatis. Officia eius magnam reprehenderit dolorum alias ipsam tempora laudantium. Dolores debitis, explicabo tempora quaerat hic quos!</p>    
</div>

{% endblock  %}
