{% block 'footer' %} {% load static %}
<footer class="container">
  <div
    class="d-flex justify-content-between align-items-center mt-4 py-3 border-top"
  >
    <span>© Desafio Latam 2024</span>
    <img src="{% static "img/logo_footer.png" %}" alt="OnlyFlans" width='40px'>
    <span>Creado por MARIO HARO </span>
  </div>
</footer>

{% comment %} 
<i class="bi bi-instagram"></i>
<i class="bi bi-facebook"></i>
<i class="bi bi-twitter"></i>
<i class="bi bi-tiktok"></i>
 {% endcomment %}

{% endblock %}
