*{
    font-family: "Cabin", sans-serif;
    --celeste: rgba(20, 175, 232);
    --celeste_opacity: rgba(20, 175, 232, 0.3);
    scroll-behavior: smooth; /* Smooth Scroll */
}
a{
    text-decoration: none;
}
/* Boton ir arriba */
#btn_gototop{
    display: none;
    position: fixed;
    z-index: 100;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    border: none;
    background-color:var(--celeste_opacity);
    transition-duration: .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
    #btn_gototop:hover {
        cursor: pointer;
        color: white;
        background-color:var(--celeste);
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}

h2 {
    font-family: "Cabin", sans-serif;
    text-transform: uppercase;
}
.carousel-item img{
    object-fit:cover;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 1rem;
    background-color: aliceblue;
}

/* cards */
.card{
    height: 100%;
}
.card-img, .card-img-top{
    height: 200px;
    object-fit: cover;
}

/* Icons */
.bi-instagram{
    color: var(--celeste);
}